// musical contents
.cont_musical {
  padding: 0 15px 50px;
  .txt_g {
    font-size: 12px;
    line-height: 18px;
    color: #555;
    + .txt_g {
      &::before {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 3px 5px;
        background-color: #e5e5e5;
        vertical-align: top;
        content: '';
      }
    }
  }
  .tag_g {
    display: inline-block;
    min-width: 24px;
    height: 16px;
    padding: 0 4px;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #444;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #eee;
    vertical-align: top;
    + .tag_g {
      margin-left: 4px;
    }
  }
  .item_musical {
    padding: 20px;
    + .item_musical {
      border-top: 1px solid #e5e5e5;
    }
  }
  .btn_musical {
    display: block;
    width: 100%;
  }
  .musical_thumb {
    .thumb_img {
      display: block;
      width: 60%;
      height: 0;
      margin: 0 auto;
      padding-top: 80%;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.1);
      background-size: cover;
      background-position: 50% 50%;
    }
  }
  .musical_info {
    margin-top: 20px;
  }
  .musical_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .txt_title {
      font-size: 15px;
      line-height: 20px;
  }
  }
  .musical_price {
    margin-top: 8px;
    .num_price {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      word-break: keep-all;
    }
  }
  .musical_desc {
    .txt_place {
      display: block;
      &::before {
    display: none;
      }
    }
  }
  .btn_more {
    display: block;
    width: 100%;
    height: 45px;
    margin-top: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    line-height: 43px;
    text-align: center;
  }
}



// loading contents
.cont_loading {
  position: relative;
  display: flex;
  height: calc(100vh - 56px);
  justify-content: center;
  align-items: center;
  .ico_loading {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid transparent;
    border-color: transparent #ddd transparent #ddd;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .txt_loading {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    position: absolute;
    top: 50%;
    width: 100px;
    transform: translateY(-50%);
    color: #888;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
  }
}

@keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@-moz-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}
@-o-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}



// error contents
.cont_error {
  position: relative;
  display: flex;
  height: calc(100vh - 56px);
  justify-content: center;
  align-items: center;
  .txt_error {
    color: #888;
    font-size: 12px;
    font-weight: bold;
  }
}